body{ font-family:Arial, Helvetica, sans-serif; 
        background-color:whitesmoke;}
                .logtitle       { font-size : 50px; 
                                text-align: center; 
                                color: rgb(230, 189, 57);
                                font-family: Arial, Helvetica, sans-serif;
                                position:relative;
                                top: 90px
              }
                .contact-info{
                    width: auto;
                    padding: 50px;
                }
                .head-image{
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Irvine_Company.png");
                    height: 100%;
                    background-image: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }
                .hero-text{
                    text-align: center;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: white;
                }
                .dropdown-menu{
                        width: 300px;
                        background-color: black;
                        color: white;
                }
              /*Positions body*/
              .wrapper
                    {
                      width: 1170px;
                      margin: auto;
              }
              /*Inserts and positions png file into background */
              /*linear-gradient adds a shaded gradient over the background image*/
              .hero-image{
                    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0,0,0,0.45)), url("Irvine_Company.png");
                    height: 100%;
                    width: 100%;
                    -webkit-background-size: cover;
                    background-size: cover cover;
                    background-position:center;
                    position: absolute;}
            
              /*Postions .welcome-text class */        
              .welcome-text{  
                    position: absolute;
                    margin: 15% 30%;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
              }
              /*Alters h1 font within .welcome-text class */
              .welcome-text h1{
                      text-align:center;
                      color: #fff;
                      font-weight: bold;
                      text-transform: uppercase;
                      font-size: 60 px;
                      font-family: Arial, Helvetica, sans-serif;
              }
              .welcome-text a{
                      border: 1px solid rgb(255, 255, 255);
                      padding: 10px 25px;
                      font-weight: bold;
                      text-decoration: none;
                      text-transform: uppercase;
                      font-size: 14px;
                      margin-top: 5px;
                      display: inline-block;
                      background: rgb(230, 189, 57);
                      color:black;
              }
              .welcome-text a:hover{
                      background: steelblue;
                      color:  rgb(230, 189, 57);
                      border: 2px solid #fff;
              
              }
              .logintext{     
                      position: absolute;
                      width: 600px;
                      height: 300px;
                      margin: 20% 30%;
                      text-align: center;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 20px;
                      color: white;
              }
        
            /*html {
                        box-sizing: border-box;
                      }
                      *, *:before, *:after {
                      box-sizing: inherit;   
                      }*/
                  .about_column {
                      float: left;
                      width: 33.3%;
                      margin-bottom: 16px;
                      padding:0 8px;
                      background-color:white;
                      }
                .card {
                      box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
                      margin: 8px;
                      }
                .about-section {
                        padding: 50px;
                        text-align: center;
                        background-color: #1d497ae3;
                        color: rgb(248, 246, 238);
                        }
                .about-body {
                        color: #fff;
                        text-align:justify;
                        }
                .about-title {
                        text-align: center;
                        }
                .container {
                      padding:0 16px;
                      }
                .container::after, .row::after {
                      content: "";
                      clear: both;
                      display: table;
                      }
                .title {
                      color: rgb(3, 3, 3);
                      }
                .button {
                      font-size: 14px;
                      width: 372px;
                      height: 45 px;
                      border: 2px solid rgb(230, 189, 57);
                      background: steelblue;
                      text-transform: capitalize;
                      color: white;
                      text-align: center;
                      font-family: Arial, Helvetica, sans-serif;
                      outline: 0;
                      display: inline-block;
                      padding: 8px;
                      cursor: pointer;
                      width: 100%;
                      }
                  @media screen and (max-width: 650px) {
              .column {width: 100%;
                              display: block;
                              }
                              }
              
        
        
        
        /* Dropdown Button */
        .dropbtn {
                background-color: #0f39ac;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
              }
              
              /* The container <div> - needed to position the dropdown content */
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              /* Dropdown Content (Hidden by Default) */
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              /* Links inside the dropdown */
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              /* Change color of dropdown links on hover */
              .dropdown-content a:hover {background-color: #ddd;}
              
              /* Show the dropdown menu on hover */
              .dropdown:hover .dropdown-content {display: block;}
              
              /* Change the background color of the dropdown button when the dropdown content is shown */
              .dropdown:hover .dropbtn {background-color: #80cee6;}